.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  padding: 1rem;
  width: 75%;
  align-items: center;
  border-radius: 0.25rem;
}

.card > address {
  width: 75%;
  font-style: normal;
}

.block {
  margin-bottom: 2rem;
}

.block > label {
  font-weight: 600;
}

.block > div {
  display: flex;
  justify-content: space-evenly;
}
