.ContactList-Item {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ContactList-Item:hover {
  background-color: #f7f7f9;
}

.ContactList-Item.selected {
  border-color: #e1e1e1;
}
