.App-title {
  font-size: 1.5em;
}

.App-layout {
  display: grid;
  grid-template-columns: minmax(0, 200px) 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: start;

  width: 100%;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

@media (min-width: 400px) {
  .App-layout {
    width: 85%;
    /* padding: 0; */
  }
}

.App-layout {
  grid-template-areas:
    ". header"
    "sidebar content"
    "footer footer";
}

.Header {
  grid-area: header;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.Content {
  grid-area: content;
  width: 100%;
}

.Sidebar {
  grid-area: sidebar;
}

.Sidebar h3 {
  text-align: center;
}

.Footer {
  grid-area: footer;
  width: 100%;
  text-align: center;
}
