html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  color: #1eaedb;
}
a:hover {
  color: #0fa0ce;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

hr.minimal {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
